* {
    box-sizing: border-box;
}

body {
    background-color: hsl(30, 38%, 92%);
    
}

.main {
    
    border-radius: 10px;
    overflow: hidden;
}

img {
    width: 50%;
    height: 400px;
    float: left;
}

.clearfix:after {
    content: "";
    clear: both;
    display: table;
}

p {
    font-size: 14px;
}

h5 {
    color: hsl(228, 12%, 48%);
    letter-spacing: 3px;
    font-family: Montserrat;
    font-weight: 700;
}

h1 {
    font-family: Fraunces;
    font-weight: 700;
}

.first {
    font-family: Montserrat;
    font-weight: 500;
    color: hsl(228, 12%, 48%)
}

span {
    color: hsl(158, 36%, 37%);
    font-size: 30px;
    font-weight: bold;
    font-family: Fraunces;
}

button {
    width: 200px;
    background-color: hsl(158, 36%, 37%);
    color: white;
    padding: 5px;
    border: 1px solid hsl(158, 36%, 37%);
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background-color: hsl(212, 21%, 14%);
}

i {
    margin: 10px;
}

.two {
    background-color: white;
    
   
}